* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	font-family: sans-serif;
	/* height: 800px; */
	overflow: hidden;
}

nav {
	--color: rgb(55, 148, 83);
	/* background-color: rgb(106, 150, 119); */
	background-color: white;
	border-bottom: 2px solid var(--color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	height: 60px;
	color: var(--color);
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	background-image: linear-gradient(to right bottom, #379453, #30b2a5, #7fcadd, #cee1f6, #ffffff);
}

.location_display {
	text-align: right;
}

h1 a {
	text-decoration: none;
	color: white;
}

.button_grid {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

.big_button {
	max-width: 350px;
	width: 100%;
	height: 150px;
}

.big_button a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-weight: bold;
	background: #e8e8e8;
	border-radius: 10px;
	border: 3px solid;
	transition: background-color 0.2s;
	text-decoration: none;
	color: black;
}


.big_button_icon {
	font-size: 60px;
}

.menu_itemp {
	font-size: 28px;
}

.menu_itemp a {
	color: var(--color);
	text-decoration: none;
}

.menu_itemp a:hover {
	text-decoration: underline;
}

.home_wrap {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home_column {
	max-width: 720px;
	width: 100%;
}

.home_column h1 {
	margin-bottom: 20px;
	color: black;
	text-align: center;
	text-transform: uppercase;
}

.home_wrap div {
	width: 100%;
}

.map {
	position: relative;
	height: 100%;
}

.follow_user_button {
	padding: 10px;
	background: transparent;
	cursor: pointer;
	outline: none;
	border: none;
	filter: grayscale();
	user-select: none;
}

.follow_user_button button {
	padding: 10px;
}

.disabled {
	opacity: 0.7;
	pointer-events: none;
}

.filter_bar_menu {
	width: 100%;
	height: 30px;
}

.filter_bar {
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 5px;
	transition: all 0.2s;
	width: 100%;
	height: 100%;
	user-select: none;
}

.zone_wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	font-size: 20px;
}

.zone_wrapper h2 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 50px;
}

.zone_wrapper.allowed {
	/* background-color: rgb(109, 173, 109); */
	background-color: rgb(97, 205, 97);
}

.zone_wrapper.prohibited {
	background-color: rgb(208, 71, 71);
	color: white;
}

.generic_table {
	margin-top: 20px;
	border-collapse: collapse;
}

.generic_table td {
	border: 1px solid black;
	padding: 3px;
}

.generic_table td:nth-child(2) {
	word-wrap: anywhere;
}


.filter_bar_menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	font-size: 18px;
	margin-bottom: 10px;
}


.filter_menu_collapse {
	z-index: 100000;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-size: 30px;
	border-radius: 3px;
	transform: rotate(180deg);
	transition: all 0.2s ease;
}


.filter_menu_collapse.collapsed {
	background-color: rgba(255, 255, 255, 1);
	outline: 2px solid rgba(151, 151, 151, 0.8);
}

.filter_menu_collapse.collapsed svg {
	transform: rotate(-180deg);
}

.filter_items div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}


.leaflet-div-icon {
	border: none !important;
	background-color: transparent !important;
}

.custom_cluster_marker {
	height: 33px;
	line-height: 37px;
	width: 33px;
	border: 0;
	outline: 0;
	border-radius: 50%;
	text-align: center;
	font-weight: bold;
}

.loading_screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer {
	background-color: rgb(55, 148, 83);
	text-align: center;
	padding: 15px;
	color: white;
}

footer a {
	color: white;
	text-decoration: underline;
}

footer div {
	margin: 5px 0;
}

.blog {
	max-width: 600px;
	width: 100%;
}

.blog_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	box-sizing: border-box;
}

.blog h1 {
	margin-bottom: 20px;
}

ol {
	list-style-position: inside;
}

.show_map_button {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.poi_list_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
	position: relative;
}

.poi_list_wrapper h1 {
	margin-top: 50px;
	margin-bottom: 20px;
}

.poi_table td {
	padding: 0 5px;
	text-align: left;
}

.poi_table thead {
	border-bottom: 3px solid gray;
	text-align: left;
}

.poi_show_all {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid black;
}

.poi_show_all a {
	padding: 10px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
	display: block;
}


.modal_wrapper {
	display: flex;
	gap: 20px;
}

.modal_header {
	display: flex;
	justify-content: space-between;
}

.modal_close {
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	font-size: 25px;
	cursor: pointer;
}

.modal_map_wrapper {
	height: 100%;
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	border: 1px solid black;
	border-radius: 5px;
}

.more_button {
	margin-top: 40px;
	padding: 5px 15px;
	font-size: 20px;
}


.nav_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}